body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

div {
    color: blue;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


main {
    height: 100%;
    width: 868px;
    display: grid;
    grid-template-columns: 22% 63% 15%;
    grid-gap: 20px;
}

header {
    background-color: #f4f4f4;
    display: flex;
    border-top: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
    justify-content: center;
    /* border: solid black 1px; */
}

h4 {
    text-align: center;
    background-color: #f4f4f4;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 80%;
}

li {
    border-bottom: solid lightgrey 1px;
    font-size: 90%;
    padding-top: 3px;
}

.left {
    display: flex;
    background-color: #f4f4f4;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    border-right: solid lightgray 1px;
    border-left: solid lightgray 1px;
}

.right {
    display: grid;
    background-color: #f4f4f4;
    grid-template-rows: 45px 25px 25px 25px 25px 25px;
    text-align: center;
    border-right: solid lightgray 1px;
    border-left: solid lightgray 1px;
}

.big-middle {
    display: grid;
    grid-template-columns: 0.8fr 1fr .5fr;
    grid-gap: 20px;
}

.middle {
    display: grid;
    grid-template-rows: 65px 1fr;
    
}

.city {
    /* border: solid black 2px; */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    width: 200px;
}

.discussion-forums {
    display: flex;
    flex-direction: column;
    /* border: solid black 1px; */
    margin: 0;
}

.discussion-forum-columns {
    /* border: solid black 1px;   */
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.two-column-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-right: 55px;

}

.one-column-links {
    
}

.discussion-links {
    /* border: solid red 2px; */
    padding-right: 30px;
}

.title {
    text-align: center;
    font-weight: 700;
    background-color: #f4f4f4;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.craigslist {
    margin: 20px;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;

}

.posting {
    background-color: #fffdd0;
    margin: 20px auto;
}

.tg {
    margin: auto;
}

.cities-right {
    font-size: 75%;
    font-weight: 600;
    border-top: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
    padding-top: 4px;
    width: 90%;
    justify-self: center;

}

.dropdown {
    padding-top: 11px;
}

.airport-code {
    background-color: white;
    /* border: solid black 1px; */
    text-align: center;
    width: 30px;
    color: blue;
    font-size: 80%;
    /* border: solid black 2px; */
    height: 14px;
}

.event-calendar {
    padding-top: 20px;
    
}

.link-section-upper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.link-section-lower {
    padding-top: 20px;
    padding-bottom: 20px;
}

.my-account {
    padding-bottom: 20px;
}
